﻿

<!DOCTYPE html>
<html>
<head>
  <style>
    /* Define the keyframes for the breathing animation */
    @@keyframes breathing {
      0%    { background-color: #0093E9; }
      25%   { background-color: #80D0C7; }
      50%   { background-color: #8EC5FC; }
      100%  { background-color: #E0C3FC; }
    }

    body {
      animation: breathing 15s infinite;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .text {
      text-align: center;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="text">
      Welcome to the Chillzone!
    </div>
  </div>
</body>
</html>
