﻿<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/1387738.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .red-text {
            color: #FF0000; /* Bright red color */
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4 red-text">Hello! My name is Oxhoba</h1>
        <h1 class="display-4 red-text">Welcome to my techblog</h1>
        <p><span class="red-text">Click here to see my other personal projects</span> <a href="https://gitlab.com/Hallae">building projects with ASP.NET Core and C# from 0 to Pro</a>.</p>
    </div>
    <div class="background-image"></div>
</body>
</html>
