﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script> 




<div>

    <form action="CreatorPage" method="POST">
        <Textarea name="content" id="myEditor"></Textarea>
        <button class=" btn btn-secondary">Submit</button>
    </form>


    

    <script>        
        var editor = new FroalaEditor('#myEditor');
    </script>

</div>

<body>
  

        <style>
            body {
            background-image: url('https://wallpaperaccess.com/full/1387738.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    
</body>

   